<legend>Book information</legend>
<div>
	<div class="form-group row">
		<label class="col-xs-6 col-form-label">ID</label>
		<div class="col-xs-6">{{book.guid}}</div>
	</div>

	<div class="form-group row"> <!-- First Name -->
		<label class="col-xs-6 col-form-label">Title</label>
		<div class="col-xs-6">{{book.title}}</div>
	</div>

	<div class="form-group row"> <!-- Last Name -->
		<label class="col-xs-6 col-form-label">Author</label>
		<div class="col-xs-6">{{book.author}}</div>
	</div>

	<div class="form-group row"> <!-- E-mail -->
		<label class="col-xs-6 col-form-label">Year</label>
		<div class="col-xs-6">{{book.year}}</div>
	</div>

	<div class="form-group row"> <!-- Zip Code -->
		<label class="col-xs-6 col-form-label">Description</label>
		<div class="col-xs-6">{{book.description}}</div>
	</div>

	<div class="form-group row"> 
		<label class="col-xs-6 col-form-label">Genres</label>
		<div class="col-xs-6">{{book.genres}}</div>
	</div>
	
	<div class="form-group row">
	    <label class="col-xs-6 col-form-label">Rating</label>
	    <div class="col-xs-6">{{book.rating}}</div>
	</div>

</div>	
